* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: aquamarine;
}
header{
    height: 20vh;
    /* background-color: aquamarine; */
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    /* background-color: aquamarine; */
    margin-top: 20px;
    margin-bottom: 40px;
}
footer{
    height: 20vh;
    /* background-color: aquamarine; */
    border-top: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
section{
    height: 100;
    display: flex;
    flex-direction: row;
}
.container{
/*     display:grid;
    grid-template-rows: 1fr 4fr 1fr; */
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    height:45vh;
    width: 100%;
    /* background-color: aqua; */
    margin:10px;
}
.container__chordColorBtns{
    justify-self: center;
    display: flex;
    align-items: center;
}
.key.white{
    height: 100%;
    width:100%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 0 10% 10%;
}
.btnSelected{
    background-color: rgb(35, 226, 35);
}
.key.rootKeySelected{
    background-color: rgb(35, 226, 35);
}
.key.keySelected{
    background-color: rgb(75, 39, 252);
}

.right-black{
    float: right;
    width : 30%;
    height : 60%;
    background-color: black;
    border-radius: 0 0 0 10px;
    position:relative;
    left:2px;
}

.left-black{
    float: left;
    width : 30%;
    height : 60%;
    background-color: black;
    border-radius: 0 0 10px 0;
    position:relative;
    right:2px;
}
.main_container{
    display:flex;
    flex-direction: column;
}
.submain_container{
    display:flex;
    flex-direction: row;
    width:90%;
    margin:auto;
}
.piano{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 70%;
    /* background-color:aqua; */
}
.piano.pianoShort{
    width:90%;
    display:flex;
    height: 90%;
    /* left:200px; */
    padding-bottom: 20px;
    padding-top: 20px;
}
.upperRow{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width:100%;

}
.parent_container__Btns{
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: auto auto; */
    row-gap: 5px;
    width:90%;
}
.noteGrafic{
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    height:100%;
}
.triadBtns{
    display:flex;
    flex-wrap: nowrap;
}
/* .tetradBtns{
    display:flex;
    flex-wrap: wrap;
} */
.container__noteBtns{
    display:flex;
    flex-wrap: nowrap;
    width:fit-content;
    align-items: center;
}
.hidden{
    display: none !important;
}
