* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    background-color: beige;
}
header{
    height: 20vh;
    background-color: aqua;
}
main{
    background-color: aquamarine;
    height:80vh;
    margin-top: 20px;

}
section{
    height: 100;
    display: flex;
    flex-direction: row;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:50vh;
    width: 100%;
    background-color: aqua;
    margin:10px;
}
.container__noteBtns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width:90%;
    justify-items: center;
}
.piano{
    display: flex;
    flex-direction: row;
    width:80%;
    height: 70%;
    background-color:aqua;
}
.key.white{
    max-height: 200px;
    width:100%;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0 0 10% 10%;
}
.key.black{
    max-height: 100px;
    position:relative;
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    z-index: 10;
    height: 50%;
    right:1000%;
    width:2000%;
    border-radius: 0 0 10% 10%;

}
.piano .space{
    width: 3%;
    background-color: rgb(0, 0, 0);
    height:90%;
    max-height: 190px;
    /* border: 1px solid black; */
}
.btnSelected{
    background-color: rgb(35, 226, 35);
}
.key.rootKeySelected{
    background-color: rgb(35, 226, 35);
}
.key.keySelected{
    background-color: rgb(75, 39, 252);
}
.hidden{
    display: none;
}